# Last.fm API Credentials
# Get your API key from Last.fm: https://www.last.fm/api/account/create
VITE_LASTFM_API_KEY=your_lastfm_api_key_here
VITE_LASTFM_USER=your_lastfm_username_here

# How often to check for updates (in milliseconds)
VITE_POLL_INTERVAL_MS=5000
